/*predefining used colors*/
:root {
    --box-color: #333;
    --background-color: #e9ddb7;
    --canvas-background:#CBBF7A;
    --text-color: #ffffff;
    --secondarybox-color: orange;
    --link-hover: orange;
    --button-hover:red;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

/*header*/

header {
    display: flex;
    justify-content: center;
    background-color: var(--box-color);
    color: var(--text-color);
    align-items: center;
    font-weight: bold;
    height: 10%;
    min-height: 75px;
    min-width: 800px;
}

#header_logo{
    width: 20%;
    height: 100%;
}

#logo{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

#header_logo img{
    width: auto;
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;

    /*vendor prefixes*/
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

#header_logo img:hover{
    /*vendor prefixes*/
    -webkit-transform: perspective(600px) rotateY(35deg);
    -ms-transform: perspective(600px) rotateY(35deg);
    -o-transform: perspective(600px) rotateY(35deg);
    transform: perspective(600px) rotateY(35deg);
}

/*nav inside header*/
nav {
    padding: 10px;
    display: flex;
    width: 50%;
    height: calc(100% - 20px);
    justify-content: center;

}

nav ul {
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 10px;
    display: flex;
    gap: 20px;
}

/*music button and volume changer inside header*/
#music{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    width: 30%;
    margin: 15px;
    padding: 10px;
    background-color: var(--secondarybox-color);
    color: var(--box-color);
    border-radius: 20px;
}

#music_button{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--box-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 10px;
    border-color: var(--box-color);
    cursor: pointer;
}

#music_button:hover{
    color: var(--button-hover);
}

.volume-slider {
    width: 50%;
    height: fit-content;
}

.slider {
    appearance: none;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

/*main page content*/
main {
    display: flex;
    height: 85%;
    min-width: 800px;
    background-color: var(--background-color);
    min-height: 550px;
}

/*page content - painting with canvas*/

#painting{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    overflow: auto;
}

#painting_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    gap: 40px;
}

#PaintForm{
    border: 3px var(--box-color) solid;
    height: 40%;
    min-height: 90px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--secondarybox-color);
}

.paint_form_input{
    color: var(--box-color);
}

.paint_form_submit{
    display: flex;  
    justify-content: end;
    margin-top: 10px;
    font-weight: bold;
}

.paint_form_submit input{
    background-color: var(--box-color);
    width: 40%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer
}

#color_button_creator{
    width: fit-content;
    height: 40%;
    min-height: 90px;
    padding: 10px;
    background-color: var(--secondarybox-color);
    border: 3px var(--box-color) solid;
    border-radius: 10px;
}

#color_button_creator p{
    height: 25%;
    margin-top: 0;
    margin-bottom: 10px;
}

#button_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable_button {
    width: 60px;
    height: 30px;
    cursor: grab;
    border: 3px var(--box-color) solid;
    border-radius: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.hide{
    display: none;
}

#painting_board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

#canvas{
    height: 80%;
    width: auto
}

#canvas_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80% - 70px);
    width: auto;
    min-width: fit-content;
    min-height: fit-content;
    border: 5px var(--box-color) solid;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--canvas-background);
}

/*colors for canvas*/
#color_palette{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: auto;
    overflow-x: hidden;
    height: 80%;
    width: fit-content;
    margin: 10px;
    padding: 20px;
    border: 3px var(--box-color) solid;
    border-radius: 50px;
    background-color: var(--secondarybox-color);
    box-sizing: border-box;
}

#color_palette button:nth-child(1) {
    background-color: red; /* Třetí tlačítko */
}
#color_palette button:nth-child(2) {
    background-color: blue; /* Třetí tlačítko */
}
#color_palette button:nth-child(3) {
    background-color: green; /* Třetí tlačítko */
}
#color_palette button:nth-child(4) {
    background-color: yellow; /* Třetí tlačítko */
}
#color_palette button:nth-child(5) {
    background-color: black; /* Třetí tlačítko */
}

.canvas_button{
    min-width: 50px;
    min-height: 20px;
    border-radius: 10px;
    border-color: var(--box-color);
    cursor: pointer
}

.selected{
    border-width: 5px;
    border-color: black;
}

/*special draw buttons*/
#draw_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80%;
    width: fit-content;
    margin: 10px;
    padding: 20px;
    border: 3px var(--box-color) solid;
    border-radius: 50px;
    background-color: var(--secondarybox-color);
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
}

.selected_type{
    border-width: 5px;
    background-color: black;
}

#brush{
    min-height: 50px;
    background-color: white;
    background-image: url('../static_resources/brush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pencil{
    min-height: 50px;
    background-color: white;
    background-image: url('../static_resources/pencil.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#rubber{
    min-height: 50px;
    background-color: transparent;
    background-image: url('../static_resources/rubber.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#clear_painting{
    min-height: 50px;
    background-color: white;
    background-image: url('../static_resources/trash.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*painting aside color slide*/
#color_slide_box{
    width: 20%;
    border-left: 10px var(--box-color) solid;
    border-right: 10px var(--box-color) solid;
    background-color: var(--canvas-background);
}

#color_slide_header{
    height: 10%;
    border-bottom: 10px var(--box-color) solid;
    background-color: var(--secondarybox-color);
    text-align: center;
    align-content: center;
    font-weight: bold;
    color: var(--box-color);
}

#color_slide_header p{
    animation: textChange 2s infinite;
}

@keyframes textChange {
    0% {
        color: blue;
        transform: translateY(0);
    }
    25% {
        color: purple;
        transform: translateY(-5px);
    }
    50% {
        color: yellow;
        transform: translateY(5px);
    }
    75% {
        color: red;
        transform: translateY(-5px);
    }
    100% {
        color: green;
        transform: translateY(0);
    }
}

#color_slide{
    width: 100%;
    height: calc(90% - 10px);
}

/*page content - user gallery with canvases*/
#gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#gallery_header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    height: 90%;
    width: calc(100% - 40px);
    gap: 20px;
    padding: 20px;
}

/*gallery item*/
.canvas_item{
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: var(--secondarybox-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--box-color);
    border-radius: 30px;
}

.canvas_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 5px;margin-bottom: 10px;
}

.canvas_title{
    text-align: center;
    width: 100px;
    margin: 0px;
}

.btn_download{
    background: rgba(255, 255, 255, 0);
    background-image: url('../static_resources/download.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 30px;
    height: 30px;
    border: 3px solid var(--box-color);
    border-radius: 10px;
    cursor: pointer;        
}

.canvas_painting{
    border: 1px solid var(--box-color);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn_open, .btn_delete{
    width: 80px;
    height: 30px;
    background-color: var(--box-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 10px;
    border-color: var(--box-color);
    cursor: pointer;
}

.buttons button:hover{
    color: var(--button-hover);
}

/*page content - login and register page*/
#login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login p a{
    color: var(--box-color);
    font-weight: bold;
}

#login p a:hover{
    color: var(--secondarybox-color);
    font-size: 16px;
}

.loginbox{
    border-radius: 10px;
    background-color: var(--secondarybox-color);
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
}

.loginbox h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#loginForm,#regForm {
    max-width: 300px;
    margin: 0 auto;
}

#loginForm div, #regForm div {
    margin-bottom: 10px;
}

#loginForm label, #regForm label {
    display: block;
    text-align: left;
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm input[type="submit"],
#regForm input[type="text"],
#regForm input[type="password"],
#regForm input[type="submit"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#loginForm input[type="submit"],
#regForm input[type="submit"] {
    background-color: var(--box-color);
    color: white;
    border: none;
    cursor: pointer;
}

/* footer*/
footer {
    display: flex;
    align-content: center;
    justify-content: end;
    height: 5%;
    min-width: 800px;
    background-color: var(--box-color);
    color: var(--text-color);
}

#footer_copyright{
    margin: 5px;
    font-size: 10px;
    text-align: end;
    align-content: center;
}

#error404{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

#error404 h2{
    font-size: 50px;
}

#error404 a:hover{
    font-size: 20px;
}


/*settings for links*/
a {
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    color: var(--link-hover);
}